/* https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */

.beating-heart {
    transform: scale(0.8);
    animation: pulse-heartbeat 1s infinite;
}

@keyframes pulse-heartbeat {
	0% {
		transform: scale(0.8);
	}

	15% {
		transform: scale(1);
	}
	20% {
		transform: scale(0.9);
	}
	25% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

.fade-to-black-and-white {
    animation: drain-blood 20s infinite;
}

@keyframes drain-blood {
    0% {
        filter: grayscale(0%);
    }
    50% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(70%);
    }
}
